@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1764307175882') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fu:before {
  content: "\e60e";
}

.icon-zi:before {
  content: "\e60f";
}

